<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my website!</h1>
    <p>Please Stay a while and look around at absolutely nothing</p>
    <p>HEllo <%= locals.userName ?? 'New User!' %> </p>
</body>
</html>